* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Rubik", sans-serif;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  background-color: black;
  padding: 2px;
  margin: 0;
  flex-direction: column;
}
.logo {
  width: 150px;
  padding: 0;
  margin: 0;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  color: #ffff00;
  text-decoration: none;
}
.sub_title {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  color: #ffffff;
  text-decoration: none;
  margin: 5px 0;
}
.sub_title:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 10px;
  padding: 0 10px;
}

.second-title {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin-top: 10px;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin-top: 10px;
}

.section-2 {
  margin: 20px;
  /* margin-left: 10px; */
}

.input {
  padding: 5px;
  margin: 5px;
  border: 1px solid rgb(68, 68, 68);
  border-radius: 3px;
}
.input:hover {
  padding: 5px;
  margin: 5px;
}
.input:focus {
  outline: none;
}
.inserir {
  padding: 6px 26px;
  margin: 5px;
  background-color: white;
  color: black;
  border: 1px solid;
}
.inserir:hover {
  padding: 6px 26px;
  margin: 5px;
  background-color: black;
  color: white;
  border: 1px solid;
  cursor: pointer;
}
.delete {
  padding: 6px 26px;
  margin: 5px;
  background-color: white;
  color: black;
  border: 1px solid;
}
.delete:hover {
  padding: 6px 26px;
  margin: 5px;
  background-color: black;
  color: white;
  border: 1px solid;
  cursor: pointer;
}
.remove_last {
  margin-left: 10px;
  color: red;
  text-decoration: underline;
  cursor: pointer;
  user-select: none;
}
.lista {
  display: flex;
  overflow: auto;
  height: 55vh;
  width: 50%;
}

/* ---------------------------------------- */

.todo {
  padding-left: 100px;
}
.section-fecho {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
}
.fecho {
  display: flex;
  gap: 200px;
  width: 200px;
}
.coin_input,
.notas_input {
  padding: 10px;
  margin: 5px;
  border: 1px solid rgb(68, 68, 68);
  border-radius: 3px;
}

.apagar {
  padding: 6px 26px;
  margin: 5px;
  background-color: black;
  color: white;
  border: 1px solid;
}
.apagar:hover {
  padding: 6px 26px;
  margin: 5px;
  background-color: rgb(255, 48, 48);
  color: white;
  border: 1px solid;
  cursor: pointer;
}
.fundo {
  width: 200px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 10px;
  padding-left: 10px;
}
/* Estilize o input para esconder as setas */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  position: absolute;
  bottom: 0;
  padding: 40px 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
}
a {
  color: white;
  text-decoration: none;
}
